/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS vars and global settings*/
:root {
  --color-accent: #84dcc6;
  --color-text: #222222;
  --color-primary: #ffffff;
  --color-secondary: #263a7a;

  --font-size-heading: 2.25rem;
  --font-line-height-heading: 2.5rem;
  --font-size-subheading: 1.5rem;
  --font-line-height-subheading: 2rem;
  --font-size-body: 1.125rem;
}

html {
  height: 100%;
}

body,
html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Page */
.header {
  background: var(--color-secondary);
  padding: 1rem 2rem;
}

.footer {
  background: var(--color-secondary);
  padding: 2rem;
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--font-size-body);
  width: 100%;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 6rem;
}

.title {
  font-size: var(--font-size-heading);
  line-height: var(--font-line-height-heading);
}

.tagline {
  font-size: var(--font-size-subheading);
  line-height: var(--font-line-height-subheading);
}

.content {
  display: flex;
  height: 100%;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
  background: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 4px;
}

.text-content-title {
  color: var(--color-primary);
  text-align: center;
  padding: 0.5rem;
}

.generated-text-content {
  flex-grow: 1;
  width: 100%;
  background: var(--color-primary);
}

.controls-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 30%;
  padding: 1rem 2rem 1rem 0;
  gap: 1rem;
  padding: 1rem;
}

.form-title {
  font-size: var(--font-size-subheading);
  line-height: var(--font-line-height-subheading);
  margin-bottom: 1rem;
}

.form-label {
  font-weight: 700;
}

.number-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fieldset {
  border: none;
  padding: 0;
}

.form-button {
  width: fit-content;
  margin-top: 2rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  background: var(--color-secondary);
  color: var(--color-primary);
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: 0 0 0 4px var(--color-accent);
    transition: box-shadow 0.25s;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color-primary), 0 0 0 6px var(--color-accent);
    transition: box-shadow 0.25s;
  }
}
